

.card {
  border: 1px solid black;
  width: 300px;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  gap: 30px;
  margin: 20px;
  font-family:sans-serif ;
  display: inline-block;
}

.card-img {
  width: 280px;
  height: 350px;
  border-radius: 8px;
  border: 2px solid black;
  object-fit: cover;
}
.footer{
  background-color: rgb(231, 59, 90);
  
}
