body{
  margin: 0px;
  padding: opx;
}
/* nav bar  */
nav{
  position: sticky;
  top: -20px;
  background: linear-gradient(to right, #ff512f, #dd2476);
  display: flex;
  justify-content: space-around;
  height: 140px;
  text-align: center;
  z-index: 999;
}
.header-logo{
  color: black;
}
.header-logo:hover{
  color: azure;
}
nav div{
padding-top: 20px;
}
nav ul{
  display: flex;
  list-style-type: none;
  font-weight: bolder;
 
}
nav li{
   padding: 10px;
  margin: 10px;
  width: 100px;
  height: 20px;
  border-radius: 50px;
 transition: 1s transform;
  transition: 1ms ease-in-out;
}
nav li:hover{
 font-size: 18px;
border: 1px solid black;
 cursor: pointer;
 color: azure;
}
.sign-in button{
   background-color: rgb(235, 61, 61);
  height: 50px;
  width: 120px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 50px;
font-weight: bold;
}
.sign-in button:hover{
cursor: pointer;
height: 55px;
  width: 125px;
  color: azure;
border-color: azure;
}
.screen-mode select{
background-color: rgb(255, 73, 73);
text-align: center;
height: 30px;
cursor: pointer;
width: 50px;
height: 30px;
border: 1px solid black;
border-radius: 30px;
}
.screen-mode select:hover{
  background-color: rgb(244, 242, 242);
}
/* Course body */
.card {
  border: 1px solid black;
  width: 300px;
  border-radius: 8px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  margin: 40px 0 0 40px;
  font-family: sans-serif;
  display: inline-block;
}

.card-img {
  width: 230px;
  height: 300px;
  border-radius: 8px;
  border: 2px solid black;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.card:hover .card-img {
  cursor: pointer;
  transform: scale(1.08);
}

.card button{
  background-color: rgb(249, 245, 245);
  height: 35px;
  width: 120px;
  margin: 10px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 20px;
font-weight: bold;
}
.card button:hover{
background: linear-gradient(to right, #ff512f, #dd2476);

  cursor: pointer;
   border: 0.5px solid black;
  width: 125px;
  height: 38px;
}
/* Footer Section */
footer{
background: linear-gradient(to right, #ff512f, #dd2476);

  padding: 30px;
  margin-top: 40px;
  
}
.footer-box{
  display: flex;
}
.footer-box h3{
color: rgb(14, 9, 9);
}
.footer-component li{
list-style-type: none;
color: rgb(48, 47, 47);

}
